<div class="featureContainer ">
    <h1 class="featureTitle">Title</h1>
    <div class="featureCardContainer ">
        <div class="cardWrapper">
            <img class="cardImg" src="" alt="">
            <div class="cardInfo">
                <h2 class="cardTitle">Card title</h2>
                <p class="cardDescription">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis </p>
            </div>
        </div>
        <div class="cardWrapper">
            <img class="cardImg" src="" alt="">
            <div class="cardInfo">
                <h2 class="cardTitle">Card title</h2>
                <p class="cardDescription">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis </p>
            </div>
        </div>
        <div class="cardWrapper">
            <img class="cardImg" src="" alt="">
            <div class="cardInfo">
                <h2 class="cardTitle">Card title</h2>
                <p class="cardDescription">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis </p>
            </div>
        </div>
        <div class="cardWrapper">
            <img class="cardImg" src="" alt="">
            <div class="cardInfo">
                <h2 class="cardTitle">Card title</h2>
                <p class="cardDescription">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis </p>
            </div>
        </div>

    </div>
</div>