<div class="featureContainer relative ">
    <h1 class="featureTitle">Coat Collections</h1>
    <div id="featureCardContainer" class="featureCardContainer onBlur">
        {%- for item in collections -%}
        <div class="cardWrapper">
            <img class="cardImg" src="{{item.image | img_url: 'master'}}" alt="">
            <div class="cardInfo">
                <h2 class="cardTitle">{{item.title}}</h2>
            </div>
        </div>
        {%- endfor -%}
    </div>
    <div class="cardBtns / flex justify-between mx-20 mb-20  /">
        <button id="cardBtnLeft" class="cardBtnLeft">
            <svg class="cardBtnsSvg" width="70" height="49" viewBox="0 0 70 49" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_114_24)">
                    <path
                        d="M30.0794 10.8348L11.0976 24.1885C10.9987 24.2559 10.9204 24.3363 10.8673 24.4247C10.8142 24.5131 10.7873 24.6078 10.7884 24.7032C10.7894 24.7985 10.8183 24.8926 10.8733 24.9799C10.9283 25.0671 11.0084 25.1457 11.1087 25.211L30.375 38.1507C30.5808 38.254 30.8344 38.3025 31.0894 38.2872C31.3443 38.272 31.5835 38.1941 31.763 38.0678C31.9425 37.9416 32.0503 37.7754 32.0665 37.5998C32.0827 37.4243 32.0064 37.2511 31.8514 37.1121L14.4312 25.3942L58.6025 24.9161C58.8842 24.9131 59.1536 24.8332 59.3514 24.6941C59.5492 24.5549 59.6591 24.3679 59.657 24.1742C59.6549 23.9805 59.541 23.796 59.3402 23.6612C59.1395 23.5263 58.8684 23.4523 58.5866 23.4554L14.4154 23.9334L31.5779 11.8412C31.7298 11.6989 31.8024 11.5241 31.7824 11.349C31.7624 11.1738 31.651 11.01 31.4689 10.8876C31.2867 10.7653 31.0459 10.6926 30.7906 10.6829C30.5354 10.6732 30.2828 10.7271 30.0794 10.8348V10.8348Z"
                        fill="black" />
                </g>
                <defs>
                    <clipPath id="clip0_114_24">
                        <rect width="46.7465" height="68.0006" fill="white"
                            transform="matrix(-0.0108224 -0.999941 -0.999941 0.0108224 69.4714 47.4424)" />
                    </clipPath>
                </defs>
            </svg>


        </button>
        <button id="cardBtnRight" class="cardBtnRight">
            <svg class="cardBtnsSvg" width="70" height="49" viewBox="0 0 70 49" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_114_24)">
                    <path
                        d="M40.361 10.8348L59.3428 24.1885C59.4417 24.2559 59.52 24.3363 59.5731 24.4247C59.6263 24.5131 59.6531 24.6078 59.6521 24.7032C59.651 24.7985 59.6222 24.8926 59.5671 24.9799C59.5121 25.0671 59.4321 25.1457 59.3317 25.211L40.0654 38.1507C39.8597 38.254 39.606 38.3025 39.3511 38.2872C39.0961 38.272 38.8569 38.1941 38.6774 38.0678C38.4979 37.9416 38.3902 37.7754 38.3739 37.5998C38.3577 37.4243 38.4341 37.2511 38.589 37.1121L56.0092 25.3942L11.838 24.9161C11.5562 24.9131 11.2868 24.8332 11.089 24.6941C10.8913 24.5549 10.7813 24.3679 10.7834 24.1742C10.7855 23.9805 10.8995 23.796 11.1002 23.6612C11.3009 23.5263 11.572 23.4523 11.8538 23.4554L56.025 23.9334L38.8625 11.8412C38.7106 11.6989 38.638 11.5241 38.658 11.349C38.6781 11.1738 38.7894 11.01 38.9716 10.8876C39.1538 10.7653 39.3946 10.6926 39.6498 10.6829C39.9051 10.6732 40.1576 10.7271 40.361 10.8348V10.8348Z"
                        fill="black" />
                </g>
                <defs>
                    <clipPath id="clip0_114_24">
                        <rect width="46.7465" height="68.0006" fill="white"
                            transform="translate(0.968994 47.4424) rotate(-89.3799)" />
                    </clipPath>
                </defs>
            </svg>


        </button>
    </div>
</div>