<div class="featureContainer ">
    <h1 class="featureTitle">Coat Collections</h1>
    <div id="featureCardContainer" class="featureCardContainer ">
        {%- for item in collections -%}
        <div class="cardWrapper">
            <img class="cardImg" src="{{item.image | img_url: 'master'}}" alt="">
            <div class="cardInfo">
                <h2 class="cardTitle">{{item.title}}</h2>
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>