<div id="featureContainer" class="featureContainer relative ">
    <div class="featureWrapper">

        <h1 class="featureTitle">Coat Collections</h1>
        <div id="featureCardwrapper" class="featureCardwrapper">
            <div id="featureCardContainer" class="featureCardContainer onBlur">
                {%- for item in collections -%}
                <div id="cardWrapper" class="cardWrapper">
                    <img id="cardImg{{forloop.index}}" class="cardImg " src="{{item.image | img_url: 'master'}}" alt="">
                    <div class="cardInfo">
                        <h2 class="cardTitle">{{item.title}}</h2>
                    </div>
                </div>
                {%- endfor -%}
            </div>

            <div class="cardBtns / flex justify-between   /">
                <button id="cardBtnLeft" class="cardBtnLeft">
                    <svg class="cardBtnsSvg" width="88" height="61" viewBox="0 0 88 61" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_114_24)">
                            <path class="cardBtnsPath"
                                d="M13.167 30.278L13.167 30.278L13.1611 30.2821C13.0854 30.3337 13.0399 30.3855 13.0149 30.4269C12.991 30.4667 12.9857 30.4969 12.986 30.5181C12.9862 30.5392 12.9921 30.5693 13.0169 30.6086C13.0427 30.6495 13.0894 30.7002 13.1661 30.7502L13.1662 30.7502L13.1721 30.7542L37.6417 47.1885C37.8132 47.2684 38.036 47.3116 38.2705 47.2976C38.5175 47.2828 38.7286 47.2077 38.8692 47.1088C39.0094 47.0101 39.041 46.9191 39.0449 46.8766C39.048 46.8431 39.0401 46.7779 38.9568 46.6948L16.8391 31.8171L15.5049 30.9196L17.1128 30.9022L73.2798 30.2943C73.5542 30.2913 73.7942 30.2125 73.9499 30.103C74.1044 29.9943 74.1267 29.8967 74.1262 29.8563C74.1258 29.8159 74.1014 29.7189 73.9446 29.6136C73.7865 29.5074 73.5449 29.4338 73.2706 29.4368L17.1035 30.0447L15.4957 30.0621L16.8101 29.136L38.6006 13.783C38.6821 13.6981 38.6886 13.6328 38.6847 13.5994C38.6799 13.557 38.6464 13.4667 38.504 13.3711C38.3613 13.2752 38.1486 13.2046 37.9014 13.1953C37.6667 13.1863 37.4449 13.2344 37.2751 13.3179L13.167 30.278Z"
                                stroke="#614411" />
                        </g>
                        <defs>
                            <clipPath id="clip0_114_24">
                                <rect width="59.4418" height="86.4679" fill="white"
                                    transform="matrix(-0.0108224 -0.999941 -0.999941 0.0108224 87.1062 59.4382)" />
                            </clipPath>
                        </defs>
                    </svg>



                </button>
                <button id="cardBtnRight" class="cardBtnRight">
                    <svg class="cardBtnsSvg" width="88" height="61" viewBox="0 0 88 61" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_114_24)">
                            <path class="cardBtnsPath"
                                d="M74.833 30.278L74.833 30.278L74.8389 30.2821C74.9146 30.3337 74.9601 30.3855 74.9851 30.4269C75.009 30.4667 75.0143 30.4969 75.014 30.5181C75.0138 30.5392 75.0079 30.5693 74.9831 30.6086C74.9573 30.6495 74.9106 30.7002 74.8339 30.7502L74.8338 30.7502L74.8279 30.7542L50.3583 47.1885C50.1868 47.2684 49.964 47.3116 49.7295 47.2976C49.4825 47.2828 49.2714 47.2077 49.1308 47.1088C48.9906 47.0101 48.959 46.9191 48.9551 46.8766C48.952 46.8431 48.9599 46.7779 49.0432 46.6948L71.1609 31.8171L72.4951 30.9196L70.8872 30.9022L14.7202 30.2943C14.4458 30.2913 14.2058 30.2125 14.0501 30.103C13.8956 29.9943 13.8733 29.8967 13.8738 29.8563C13.8742 29.8159 13.8986 29.7189 14.0554 29.6136C14.2135 29.5074 14.4551 29.4338 14.7294 29.4368L70.8965 30.0447L72.5043 30.0621L71.1899 29.136L49.3994 13.783C49.3179 13.6981 49.3114 13.6328 49.3153 13.5994C49.3201 13.557 49.3536 13.4667 49.496 13.3711C49.6387 13.2752 49.8514 13.2046 50.0986 13.1953C50.3333 13.1863 50.5551 13.2344 50.7249 13.3179L74.833 30.278Z"
                                stroke="#614411" />
                        </g>
                        <defs>
                            <clipPath id="clip0_114_24">
                                <rect width="59.4418" height="86.4679" fill="white"
                                    transform="translate(0.893799 59.4382) rotate(-89.3799)" />
                            </clipPath>
                        </defs>
                    </svg>



                </button>
            </div>
        </div>
    </div>


</div>