<div class="heroContainer ">
    <img class="heroImage w-full h-screen" src="{{section.settings.hero-image | img_url: 'master' }}" alt="">
    <div class="heroQuotesWrapper grid gap-10">
        <h1 class="heroQuote">The Coats Of The Royal.</h1>
        <div class="flex gap-12">
            <button id="shopNow" class="heroBtn">SHOP NOW</button>
            <button class="heroBtn2">ABOUT US</button>
        </div>
    </div>
</div>