<div class="whyUsContainer">
    <div id="WhyUsTitle" class="WhyUsTitlecontainer"></div>

    <div class="reasonsContainer">
        <div class="reasons">
            <h1 class="reasonTitle">Reason 1</h1>
            <img id="reasonImg" class="reasonImg" src="../assets/testImg.png" alt="">
            <div id="reasonInfo" class="reasonInfo"></div>
        </div>
        <div class="reasons">
            <h1 class="reasonTitle">Reason 1</h1>
            <img id="reasonImg" class="reasonImg" src="../assets/testImg.png" alt="">
            <div id="reasonInfo" class="reasonInfo"></div>
        </div>
        <div class="reasons">
            <h1 class="reasonTitle">Reason 1</h1>
            <img id="reasonImg" class="reasonImg" src="../assets/testImg.png" alt="">
            <div id="reasonInfo" class="reasonInfo"></div>
        </div>
        <div class="reasons">
            <h1 class="reasonTitle">Reason 1</h1>
            <img id="reasonImg" class="reasonImg" src="../assets/testImg.png" alt="">
            <div id="reasonInfo" class="reasonInfo"></div>
        </div>
    </div>
</div>