@use "../utilities" as v;


.cartproductsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.cartProducts {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-basis: 50%;
}

.cartProductCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
.cartCheckout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 25%;
  max-width: 300px;
  gap: 1em;
  width: 100%;
  font-weight: 600;
  color: v.$third-color2;
}

.shopify-cart-form{
  max-width: 1280px;
  margin: auto;
}

.checkoutBtn {
  background-color: v.$secondary-color3 !important;
  color: v.$main-second;
  border-radius: 25px;
  padding: 0.5em 0;
  letter-spacing: 1px;
  transition: all .5s ease;
}

.checkoutBtn:hover {
  background-color: v.$secondary-color2 !important;
}
.cartTotalPrice {
  display: flex;
  justify-content: space-between;
}

.cartTitle {
  font-size: 3em;
  margin: 0.4em 0;
  text-align: center;
}

.cartProductPrice {
  font-weight: 600;
  color: v.$third-color3;
}

.cartProductTitle {
  font: 1em;
  color: v.$third-color2;
  font-weight: 400;

}

.emptyCartMessage{
  font-size: 3em;
  color: v.$third-color2;
}

.cartFeatruedProducts{
  width: 100%;
}



@media(max-width: v.$md) {
  .cartproductsContainer {
    flex-direction: column;
  }
  .emptyCartMessage{
    font-size: 2em;
  }
}
