<div class="collectionContainer">

  {%- section 'collection-section' -%}

  <div class="collectionInfo">


    <div class="titleWrapper w-full / flex justify-between">
      <h1 class="collectionTitle">{{ collection.title }}</h1>
      <select class="collectionFilter" id="sort-by">
        {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

        {% for option in collection.sort_options %}
        <option value="{{ option.value }}" {% if option.value==sort_by %}selected="selected" {% endif %}>
          {{ option.name }}
        </option>
        {% endfor %}
      </select>
    </div>

    {% paginate collection.products by 9 %}
    <div id="productsContainer" class="productsContainer">
      <div id="productWrapper" class="productWrapper my-5">
        {%- render 'collectionCard' -%}

      </div>
    </div>

    {% if paginate.pages > 1 %}
    <div class="paginate">
      {{ paginate | default_pagination }}
    </div>
    {% endif %}
    {% endpaginate %}
  </div>

</div>
<script>
  Shopify.queryParams = {};

  // Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');

    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');
      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function (e) {
    var value = e.target.value;

    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>