@use "../utilities" as v;

.aboutUsContainer {
    background: v.$secondary-color3;
}

#shopify-section-aboutUsCard-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 0;
}

.aboutUsInforCard  {
    p{
        word-break: break-all;
    }
}

.CardsContainer {
    margin: auto;
}

.imageCard {
    max-height: 600px;
    max-width: 600px;
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.aboutUsTitle {
    text-align: center;
    font-size: 3em;
    margin: 1em auto;
}

.aboutUsInforCard {
    background: v.$main-second;
    color: v.$third-color2;
    font-size: 1.2em;
    max-width: 600px;
    padding: 0 2em;
}

@media (max-width: v.$md) {
    .cardImgContainer {
        display: none;
    }
    .aboutUsInforCardContainer{
        width: 100%;
        height: 500px;
    }
    
    .aboutUsInforCard{
        margin: auto;
        width: 90% !important;
        padding: 0 2em;
        font-size: 1.1em;
    }

}
