@use "../utilities.scss" as v;

.featureTitle {
    font-size: 3rem;
    text-align: center;
    margin: 2em 0px 0em 0px;
    z-index: 15;
    color: v.$secondary-color2;
}

.featureContainer {
    display: grid;
    gap: 5rem;
    overflow: hidden;
    
}

.featureContainer{
    background-color: v.$third-color3;
}


.featureCardContainer {
    width: 100%;
    display: flex;
    white-space: nowrap;
    transition: all .8s ease-in-out;
    transform: translateX(-17.8vw);

}




.cardWrapper {
    background-color: transparent;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: self-end;
    width: 48%;
    flex-basis: 48%;
    transition: all .6s ease-in-out;
    z-index: 5;
    
}



.cardImg {
    transition: all .5s ease-in-out;
    width: 750px;
    height: 550px;
    object-fit: cover;
}

.cardInfo{
    position: absolute;
    background-color: #B4B1B180;
    margin-bottom: 2em;
}

.cardTitle{
    font-size: 2rem;
    margin: 0em 1em;
}
.cardBtns{
    z-index: 11;
}

.cardBtnsSvg path{
    fill: v.$secondary-color2;
}

.cardMain{
    z-index: 20;
}

