@use "../utilities.scss" as v;

.featureTitle {
    font-size: 3rem;
    text-align: center;
    margin: 2em 0px 0em 0px;
}

.featureContainer {
    display: grid;
    gap: 50px;

    
}

.featureCardContainer.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  } 

.featureCardContainer::-webkit-scrollbar {
    display: none;
}

.featureCardContainer {
    width: 100%;
    display: flex;
    gap: 1em;
    overflow-x: hidden;
    white-space: nowrap;
    transition: all .5s ease;
    border-radius:4px;
    padding: 2rem;
    margin: 1em;

}

.cardWrapper {
    background-color: transparent;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: self-end;
    transition: all .5s ease-in-out;

}


.cardWrapper:hover {
   transform: translateY(-10px);
}


.cardImg {
    transition: all .5s ease-in-out;
    width: 450px;
    height: 450px;
    object-fit: cover;
    filter: blur(0px);
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgb(63, 63, 63.5,.5),  1.5px 2px 4px rgb(63, 63, 63,.6);
}

.cardInfo{
    position: absolute;
    background-color: #B4B1B180;
    margin-bottom: 2em;
    border-radius: 4px;
}

.cardTitle{
    font-size: 2rem;
    margin: 0 1em;
}


