@use "../utilities.scss" as v;

.featureContainer{
    background-color: v.$main-second;
    transition: all .5s ease;
    transform: translate(0);
    opacity: 1;
}

.featureHidden{
    transform: translateY(40px);
    opacity: 0;
}


.featureTitle {
    transition: all 1s ease;
    font-size: 3rem;
    text-align: center;
    margin: 1em 0px 0em 0px;
    z-index: 15;
    letter-spacing: 6px;
}

.featureWrapper {
    display: grid;
    gap: 1rem;
    margin: auto;
    overflow: hidden;
}



.featureCardContainer {
    width: 100%;
    display: flex;
    white-space: nowrap;
    transform: translateX(0%);
    transition: all .8s ease;
}

.featureCardwrapper{
    transition: all 1s ease;
    overflow: hidden;
}

.featureCardContainer :nth-child(1){
    margin-left: 0 !important;
}


.cardWrapper {
    background-color: transparent;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: self-end;
    flex-basis: 33.3%;
    transition: all .7s ease ;
    z-index: 5;
    overflow: hidden;
    

}



.cardImg {
    transition: all 5s ease;
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.cardInfo{
    position: absolute;
    background-color: #B4B1B180;
    margin-bottom: 2em;
    left:1px;
}

.cardTitle{
    font-size: 2rem;
    margin: 0em 1em;
    white-space: break-spaces;
}
.cardBtns{
    z-index: 31;
    align-self: flex-end;
    margin: 0em 4em 1em;
    padding-top:1em ;
}

.cardBtnsPath{
    fill: v.$third-color3;
    color: v.$third-color3;
    -webkit-text-stroke-color: v.$third-color3;
}

.cardMain{
    z-index: 20;
}


@media(max-width: v.$lg) {
    .cardTitle{
        font-size: 1.4rem;
    }
}


@media(max-width: v.$md) {
    .cardTitle{
        font-size: 1.2rem;
        margin: 0 .3rem;
    }
    .cardWrapper {
        flex-basis: 70%;
    }
    .featureCardContainer {
        transform: translateX(-55%);
    }
    .cardImg{
        height: 50vh;
    }
}

