@use "../utilities.scss" as v;

.productContainer {
  display: flex;
  flex-basis: 100%;
  margin-top: 3em;
  margin-bottom: 5em;
  background-color: v.$main-second;
  gap: 1rem;
}

.productImageContainer {
  flex-basis: 70%;
  position: relative;
  overflow: hidden;
}
.productImagesWrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.productImage {
  width: 100%;
  object-fit: cover;
}

.productDetailsContainer {
  flex-basis: 30%;
  max-width: 340px;
  margin: auto;
  color: v.$third-color2;
  gap: 2rem;
}

.productTitle {
  font-size: 3em;
  font-family: v.$mainFont;
  font-style: normal;
}

.productPrice {
  font-size: 2em;
}

.productInfo {
  gap: 1rem;
}

.shopify-product-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.optionTitle {
  font-family: v.$mainFont;
  font-style: normal;
}

.optionInput {
  position: absolute;
  width: 1px;
}

.sizeInput:checked ~ .sizeLabel {
  background-color: v.$third-color2;
  color: v.$secondary-color2;
}
.sizeLabel {
  border: 1px solid;
  padding: 4px;
  font-size: 1rem;
}

.colorLabel {
  padding: 0.8em;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorInput:checked ~ .colorLabel::after {
  width: auto;
  opacity: 1;
  padding: 1em;
}

.colorLabel::after {
  content: "";
  position: absolute;
  border: 2px v.$third-color2 solid;
  border-radius: 50%;
  padding: 0.6em;
  width: 1px;
  opacity: 0;
  transition: all 0.3s;
}

.quantityWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px v.$third-color2 solid;
  border-radius: 25px;
}
.quantityBtn {
  font-size: 1.7rem;
  padding: 0 1rem;
}

.quantityInput {
  max-width: 30px;
  background-color: transparent;
  text-align: center;
}

.decrement {
  border-right: 1px v.$third-color2 solid;
}
.increment {
  border-left: 1px v.$third-color2 solid;
}

.productBtn {
  background-color: v.$third-color2 !important;
  color: v.$secondary-color2;
  border-radius: 3px;
  padding: 8px 30px;
  align-self: center;
  margin-top: 2em;
}

.leftProductBtn, .rightProductBtn{
  background-color: #f6f3f04f;

}


.similarProductsCardWrapper {
  display: flex;
  transition: all 0.5s ease-out;

  .productCardContainer {
    flex-basis: 25%;
    flex-shrink: 0;
  }
}

.similarProductsTitle {
  font-size: 3em;
}
.scrollBtns {
  max-width: 1440px;
}


@media(min-width: v.$md) and (max-width: v.$lg) {
  .productTitle {
    font-size: 1.5em;
  }
  .productInfo {
    p {
      font-size: 14px;
    }
  }
  .quantityBtn {
    font-size: 1.5rem;
  }


  .sizeLabel {
    font-size: 0.8rem;
  }

  .shopify-product-form {
    gap: 1.5rem;
  }

  .productDetailsContainer {
    gap: 1em;
  }

  .productBtn {
    margin-top: 1rem;
  }
  .productPrice {
    font-size: 1.5rem;

  }
  .similarProductsCardWrapper {
    .productCardContainer {
      flex-basis: 33.3%;
    }
  }
  
}


@media(max-width: v.$md) {
  .productTitle {
    font-size: 2em;
  }
  .productDetailsContainer {
    flex-basis: auto;
  }

  .productContainer {
    flex-wrap: wrap;
  }

  .productImageContainer {
    margin: auto;
  }
  .productPrice {
    font-size: 1.5rem;
  }

  .similarProductsCardWrapper {
    .productCardContainer {
      flex-basis: 50%;
    }
  }
  
}

@media(max-width: v.$sm) {
  .similarProductsCardWrapper {
    .productCardContainer {
      flex-basis: 100%;
    }
  }
}
