@use "../utilities" as v;


.contactContainer {
  background: url('https://images.pexels.com/photos/5264931/pexels-photo-5264931.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
}

.filterContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: brightness(.5);
  background-color: #665F5F;
  opacity: .5 ;
}

#contact_form {
  display: flex;
  flex: 1;
  max-width: 500px;
  max-height: 600px;
  width: 500px;
  height: 600px;
  margin: 1.5em 3em;
  z-index: 555;
  align-self: start;
  justify-content: center;
  background-color: v.$main-color3;
  box-shadow: 3.3px 3.3px 14px #665F5F;
  border-radius: .5em;
}


.contactInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  width: 100%;
  margin: auto 1em;
  gap: 3em;
}

.ContactPageWrapper {
  max-width: 1280px;
  margin: auto;
  z-index: 500;
  padding: 7em 0 2em;
  display: flex;
}

.quoteWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 555;
}


.contactQuote {
  font-size: 3em;
  color: v.$main-second;
  margin: auto 2em;
  -webkit-text-stroke: 0.5px v.$main-color3;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1em;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  color: v.$main-second;
  font-weight: 300;
  letter-spacing: 1px;
  height: 50px;
}

.contactInput {
  background-color: transparent;
  border-bottom: 1px v.$main-second solid;
  padding-left: 0.6em;
  width: 100%;
}

.contactLabel {
  align-self: flex-start;
}


.textAreaInput {
  height: 25px;
}

.contactBtn {
  align-self: baseline;
  padding: 0.4em 3.3em;
  border-radius: 3px;
  background-color: v.$main-second !important;
  transition: all 0.3s ease;
  text-align: center;
  color: v.$main-color3;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.contactBtn:hover {
  transform: translateY(3px);
  scale: 95%;
}

.selectInterest {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.interestLabel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.interestSpan {
  padding: 0.5em;
  border: 2px v.$main-second solid;
  color: v.$main-second;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.interestInput:checked ~ .interestSpan {
  background-color: v.$main-second !important;
  color: v.$main-color3;
  scale: 1.09;
}


.interestInput {
  position: absolute;
  width: 0;
}


.contactLabel {
  padding-left: 0.6em;
  position: absolute;
  transition: all 0.3s ease;
  pointer-events: none;
}

.contactLabelValid {
  transform: translateY(-25px);
}

.contactInput:focus ~ .contactLabel {
  transform: translateY(-25px);
}

@media(max-width:v.$lg) {
  .contactQuote {
    font-size: 2.5em;
  }
}
@media(max-width:v.$md) {
  .contactQuote {
    font-size: 2em;
  }
  #contact_form {
    width: 400px;
    height: 500px;
    margin: 0.5em 2em;
  }
}

@media(max-width:v.$md) {
  .ContactPageWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  #contact_form {
    align-self: auto;
    padding: 1em;
    margin: 0px;

  }
  .contactQuote {
    margin: 1em 1em;
  }
}
