@use "../utilities.scss" as v;


.headerContainer{
    z-index: 999;
    position: absolute;
    background-color: rgba(180, 177, 177, 0);
    transition: all .5s ease-in-out;
}

.leftHeader,
.leftMenus,
.rightHeader,
.rightMenus {
    gap: 13px;
}

.titleHeader {
    font-size: 32px;
    font-weight: 600;
    font-family: v.$scndFont;
    color: v.$third-color2;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.headerWrapper{
    z-index: 10;
}

.headerItems{
    color: v.$secondary-color2;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.swordSvg svg path{
    fill:  rgb(180, 177, 177);
    transition: all .7s ease-in-out;
}

.swordSvg svg{
    transition: all .7s ease-out;
    width: 100%;
    height: auto;
}






.swordSvg {
    color: v.$main-color3;
    position: absolute;
    top: -3%;
    left: 47%;
    height: 50px;
    z-index: 1;
    transition: all .5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleHeader:hover ~ .swordSvg svg {
    transform: rotate(-50deg); 

}

textarea:focus, input:focus{
    outline: none;
}


// -------------------SearchBar------------------------------------

.searchBarContainer{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 100%;
}

.searchBarWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    transition: all .5s ease-in-out;
    background-attachment: rgb(102, 104, 106,0);
}


.headerSearchBar{
    max-width: 900px;
    width: 70%;
    height: 50%;
    border-radius: 15px 0px 0px 15px;
    padding: 1em;
}

.headerSearchSubmitBtn{
    background-color: v.$third-color2 !important;
    padding: 0em 1.5em;
    height: 50%;
    border-radius: 0px 50px 50px 0px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.collapseHeader{
    transform: translateY(-100%);
}
.showHeader{
    transform: translateY(0%);
}



// -------------------SearchBar------------------------------------




