@use "../utilities.scss" as v;

.headerContainer {
  z-index: 999;
  position: fixed;
  top: 0;
  background-color: rgba(246, 243, 240, 0);
  transition: all 0.5s ease-in-out;
  flex: 1;
  transform: translateY(0);
}

.headerTrans {
  transform: translateY(20px);
  opacity: 0;
}

.headerVisible {
  transform: translate(0);
  opacity: 1;
  transition: all 0.5s ease;
}

.announcement {
  transition: all 0.5s ease-in-out;
}

.firstHeader,
.leftMenus,
.rightHeader,
.thirdHeader {
  gap: 13px;
}

.secondHeader {
  flex: 3;
  justify-content: space-evenly;
  align-items: center;
}

.titleHeader {
  font-size: 2em;
  font-weight: 600;
  font-family: v.$scndFont;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.headerWrapper {
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.navUp {
  transform: translateY(-100%) !important;
}
.headUp {
  background-color: v.$secondary-color2;
}
.annUp {
  margin-top: -28px;
}

.headerItems {
  color: v.$third-color2;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

.swordSvg svg path {
  fill: rgb(180, 177, 177);
  transition: all 0.7s ease;
}

.swordSvg svg {
  transition: all 0.7s ease;
  width: 100%;
  height: auto;
}

// .headerFont{
//     color:v.$main-second;
//     path{
//         fill:v.$main-second;
//     }
// }

.searchIconFill {
  fill: none !important;
}

.searchResult {
  width: 100%;
  display: flex;
}

.swordSvg {
  color: v.$main-color3;
  position: absolute;
  top: -3%;
  left: 47%;
  height: 50px;
  z-index: 1;
  transition: all 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleHeader:hover ~ .swordSvg svg {
  transform: rotate(-50deg);
}

textarea:focus,
input:focus {
  outline: none;
}

// -------------------SearchBar------------------------------------

.searchBarContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  visibility: collapse;
}

.searchBarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(180deg, #e2cca5 49.48%, #815b17 172.16%);
}

.searchTop {
  background: linear-gradient(180deg, rgba(246, 243, 240, 0) 23.71%, rgba(129, 91, 23, 0) 228.35%);
}

.headerSearchBar {
  max-width: 900px;
  width: 600px;
  height: 35px;
  -webkit-border-radius: 50px 0 0 50px;
  border-radius: 50px 0 0 50px;
  padding: 0 1em;
}

.headerSearchSubmitBtn {
  background-color: v.$third-color2 !important;
  padding: 0 1.5em;
  height: 35px;
  border-radius: 0 50px 50px 0;
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.collapseNode {
  transform: translateY(-110%);
  pointer-events: none;
}
.showNode {
  transform: translateY(0%);
  pointer-events: auto;
}

// -------------------SearchBar------------------------------------

.itemListHeader {
  position: relative;
}

.itemListHeaderDown::after {
  background-color: v.$third-color2 !important;
}

.itemListHeader::after {
  content: "";
  background-color: v.$secondary-color2;
  left: 0;
  bottom: -4px;
  height: 2px;
  position: absolute;
  transform: translateX(-110%);
  right: 0;
  transition: all 0.3s ease-in-out;
}

.itemListHeaderParent::after {
  transition-delay: 500ms;
}

.itemListHeaderContainer:hover > .itemListHeaderWrapper > .itemListHeader:after {
  transform: translateX(0%);
  transition-delay: 0ms !important;
}

.headerSubMenuContainer {
  position: absolute;
  top: 100%;
  overflow-y: hidden;
  visibility: collapse;
}

.headerSubMenuWrapper {
  display: flex;
  flex-direction: column;
  width: max-content;
  transition: all 0.5s ease-in-out;
  transform: translateY(-100%);
  pointer-events: none;
}

.subItem {
  background-color: v.$secondary-color2;
  color: v.$third-color2;
  letter-spacing: normal;
  padding: 0.6em 0.2em;
  border-bottom: 1px rgba(161, 154, 154, 0.37) solid;
  z-index: 99999;
}

.itemListHeaderContainer:hover > .headerSubMenuContainer {
  visibility: visible;
  .headerSubMenuWrapper {
    transform: translateY(0%);
    pointer-events: auto;
    transition-delay: 300ms;
  }
}

.itemListHeaderWrapper {
  overflow: hidden;
  display: block;
}

.cartIconPath {
  fill: v.$third-color2;
}

.cartProductsNumber {
  display: block;
  position: absolute;
  background-color: v.$secondary-color2;
  color: v.$third-color2;
  top: -18px;
  left: 18px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  font-size: 12px;
  padding: 0 4px;
  transition: all .3s ease;
}

.cartProductsNumberHidden{
  font-size: 0px;
  padding: 0px 0px;
}

.cartProductsNumberY {
  background-color: v.$third-color2; 
  color: v.$secondary-color2;
}

// ---------------------MEDIA---------------------------

@media (max-width: v.$md) {
  .titleHeader {
    font-size: 1.7em;
  }
  .swordSvg {
    height: 45px;
    width: 11px;
  }
  .headerSearchBar {
    width: 250px;
  }
  .headerSearchSubmitBtn {
    padding: 0em 1em;
  }
}

// ---------------------MEDIA---------------------------
