@use "./utilities.scss" as v;




.collectionMedia{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 60vh;
}


.productsContainer{
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
}

.collectionTitle{
    font-size: 3em;
}

.productWrapper{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap ;
}
.productCardContainer{

    @media (min-width: v.$lg){
        flex-basis: 33.3%;
    } 
    @media (min-width: v.$sm) and (max-width: v.$lg) {
        flex-basis: 50%;
    }
    @media (max-width:v.$sm) {
        flex-basis: 100%;
    }

}

.productCard{
    display: block;
    margin: .7em 1em;
}



.ProductCardImg{
    width: 100%;
    height: 100%;
    margin-bottom: .8em;
    object-fit: cover;
}


.productCardInfo{
    height: 30%;
}


.productCardTitle{
    font-family: v.$mainFont;
    font-style: normal;
    font-weight: 600;
    color: v.$third-color3;
}

.collectionInfo{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.productCardPrice{
    color: v.$third-color3;
}


.titleWrapper{
    margin: 2em auto 0em;
    flex-wrap: wrap;
    gap: 2em;
}

select{
    background: transparent;

}
.collectionFilter option{
    background: v.$secondary-color2;
}

.paginate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6em;
    margin: 1em .5em;
}

.page{
    border: 1px v.$third-color2 solid ;
    background-color: v.$main-second;
    color: v.$third-color2;
    padding: .3em .5em;
    
}

.current{
    background-color: v.$third-color2;
    color: v.$main-second;
}

.next, .prev{
    color: v.$third-color2; 
    font-weight: 600;

}
