@use "./utilities" as v;

.featureTitle {
    text-align: center;
    height: fit-content;
}

.featureContainer {
    margin: 5em 0px;
    height: fit-content;
    display: grid;
    gap: 50px;
}

.featureCardContainer {
    margin: auto;
    background-color: aqua;
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cardWrapper {
    background-color: beige;
    max-height: 355px;
    height: 100%;
}

.cardImg {
    width: 100%;
    height: 250px;
}

.cardInfo {
    height: auto;
}
