@use "./utilities" as v;


.footerContainer{
    background-color: v.$third-color2;
    color: v.$main-second;
}

.subscribeFooter{
    background: transparent;
    border: 1px v.$main-second solid;
    border-radius: 5px  ;
    padding-left: 10px;
    font-size: 17px;
    height: 35px;

}

// .footerWrapper{
//     flex-wrap: wrap;
//     overflow: hidden;
// }

.titleHeaderFooter {
    color: v.$secondary-color2 !important;
}

.swordSvgFooter{
    left: 40%;
    position: absolute;
    top: 1%;
    
}

.swordSvgFooter svg path{
    fill:  v.$secondary-color2;
    transition: all .7s ease-in-out;
}

.footerLinks{
    max-width: 460px;
}
.subscribeBtnFooter{
    background-color:v.$secondary-color2;
    height: 35px;
    padding:0px 10px;
    border-radius: 0px 20px 20px 0px;
    border: 1px v.$secondary-color2 solid ;
    position: absolute;
    left: 80%;
    color: v.$third-color2;

}

.signupMessage{
    font-size: 24px;
    color: v.$secondary-color2;
}

.socialIcon{
    height: 60px;
    width: 60px;
    transition: .5s ease-out;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socialIcon svg{
    transition: .5s ease-out;
}

.socialIcon:hover svg{
    transform: scale(110%);

}

.socialIcon:hover{
    background-color: v.$secondary-color2;
}

.footerItem{
    color: v.$secondary-color2;
    font-size: 18px;
}

.footerIcon{
    color: v.$secondary-color2;
}


@media (max-width: v.$md) {
    .footerWrapper {
        flex-wrap: wrap;
    }
}
