@use "./utilities" as v;


.headerContainer{
    z-index: 999;
}

.leftHeader,
.leftMenus,
.rightHeader,
.rightMenus {
    gap: 13px;
}

.titleHeader {
    font-size: 32px;
    font-weight: 600;
    font-family: v.$scndFont;
    color: v.$third-color2;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.headerWrapper{
    z-index: 10;
}

.headerItems{
    color: v.$secondary-color2;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.swordSvg svg path{
    fill:  rgb(129, 91, 23);
    transition: all .7s ease-in-out;
}

.swordSvg svg{
    transition: all .8s ease-out;
    width: 100%;
    height: auto;
}



.swordSvgPlace{
    color: v.$main-color3;
    position: absolute;
    top: -3%;
    left: 47%;
    height: 50px;
    z-index: 1;
    transition: all .5s ease;
}



.swordSvg {
    color: v.$main-color3;
    position: absolute;
    top: 25%;
    left: 48%;
    height: 50px;
    z-index: 1;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    
}

.titleHeader:hover ~ .swordSvg svg {
    transform: rotate(-50deg); 

}

textarea:focus, input:focus{
    outline: none;
}
