@use "./utilities" as v;



.heroImage{
    object-fit: cover;
    filter: brightness(0.8);
}

.heroQuotesWrapper{
    position: absolute;
    z-index: 10;
    margin-left: 110px;
}

.heroQuote{
    font-size: 3rem;
    color: v.$secondary-color2;
    font-family: v.$scndFont;
    font-style: italic;
    text-align: center;
    max-width: 300px;
}

.heroContainer{
    min-height: 96vh;
    height: 100%;
    width: 100%;
}

.heroWrapper{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heroBtn{
    padding: 0.4em 1em;
    background: v.$secondary-color2;
    border-radius: 10px;
}

.heroBtn2{
    padding:0.4em 1em;
    background: transparent;
    border: 2px v.$secondary-color2 solid;
    color: v.$secondary-color2 ;
    border-radius: 10px;
}


@media(max-width: v.$md){
    .heroQuote{
        font-size: 2rem;
    }
    .heroWrapper{
        justify-content: center;
    }
    .heroQuotesWrapper{
        margin-left: 0px;
        margin-top: 3em;
    }
}
