
$mainFont:'Roboto', sans-serif;
$scndFont:'Lora', serif;


// -------------------------------Colors-----------------------------------
$main-color1:#C7C4C4;
$main-color2:#B4B1B1;
$main-color3:#949191;

$main-second:#C8CBCD;
        
$secondary-color1: #FCE4B8;
$secondary-color2: #E2CCA5;
$secondary-color3: #CCB895;

$third-color1: #9E701C;
$third-color2: #815B17;
$third-color3: #614411;
