@use "../utilities.scss" as v;

.whyUsContainer{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: v.$third-color2;
    overflow-x: hidden;
    gap: 1em;
    padding: 2em 0em;
    max-width: 1280px;
    border-radius: 150px;
    margin: 1em auto;
}

.reasonsContainer{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

.reasons{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.reasonInfoContainer{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: auto;
}

.reasonInfo{
    width: 0%;  
    align-self: center;
    justify-self: flex-end;
    height: 160px;
    background-color:#815B21;
    box-shadow: -8px -8px 14px rgba(255, 255, 255, 0.1), 8px 8px 13px rgba(0, 0, 0, 0.11);
    border-radius: 0px 10px 10px 0px;
    transition: all .8s ease-in-out;
    z-index: 10;
    overflow: hidden;
    p{
        min-width: 500px;
        margin-inline: 1em;
        color: v.$secondary-color2;
    }
    
}


.reasonImg{
    height: 300px;
    width: 300px;
    transition: all .8s ease-in-out;
    z-index: 15;
    border-radius: 5px;
    object-fit: cover;
    flex-shrink: 0;
}

.reasonTitle{
    color: v.$secondary-color2;
    font-size: 2em;
    transform: translateX(40%);
    text-align: center;
    width: 100%;
    transition: all .8s ease-in-out;
}

.whyUsTitle{
    font-size: 4em;
    color: v.$secondary-color2;
}

.reasonsContainer :nth-child(even){
    .reasonInfoContainer{
        flex-direction: row-reverse;
        .reasonInfo{
            border-radius: 10px 0px 0px 10px
        }
    }
    .reasonTitle{
        transform: translateX(-40%);
    }
    
}



@media (max-width: v.$lg) {
    .reasonImg{
        height: 250px;
        width: 250px;
    }

    .reasonInfo{
        p{
            min-width: 200px;
        }
    }
}

@media (max-width: v.$md) {
    .reasonTitle{
        font-size: 1.5em;
    }
    .whyUsContainer{
        width: 100%;
        
        border-radius: 0px;
    }
    .whyUsTitle{
        font-size: 3em;
    }
    .reasonInfoContainer{
        width: 100%;
    }
    .reasonInfo{
        height: 100px;
        p{
            font-size: .7em;
        }
    }

    .reasonImg{
        height: 160px;
        width: 160px;
    }
    .reasons{
        width: 100%;
    }
}

