<div>
    hello
</div>

{%- schema -%}
  {
    "name": "Preview Products",
    "settings": [
      {
        "type": "url",
        "id": "currentCollection",
        "label": "collection"

      }
    ],
    "presets": [
      {
        "name": "preview Products",
        "category":"Collection"
      }
    ]
  }
{%- endschema -%}