@use "../utilities" as v;


.displayCollectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em auto;
  max-width: 1280px;

}

.displayVisible{
  opacity: 1;
  transform: translateY(0px);
  transition: all .5s ease;
}
.displayHidden{
  opacity: 0;
  transform: translateY(20px);
}

.displaycollectionTitle {
  font-size: 3em;
  margin: 2rem auto;
}

.displayCollectionCardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  margin: 1em auto;
  gap: 2em;
}

.displayCollectionProductCard {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0.9em -0.25rem #b3ababed;
  padding: 1em;
  gap: 0.5em;
  transition: all .5s ease;
}

.displayCollectionProductCard:hover{
  scale: 102%;
}


.displayCollectionProductCardOptions {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.displayCollectionProductCardWrapper{
  margin: auto;
  height: 450px;
}

.displayCollectionImg {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  padding: 1em;
}

.displayCollectionPrice {
  color: v.$third-color2;
  font-weight: 600;
}

.displayCollectionTitle {
  display: flex;
  justify-content: space-between;
  color: v.$third-color2;
  font-weight: 400;
}

.displayCollectionProductCardInfo {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.displayCollectionBtn {
  background-color: v.$secondary-color3;
  border-radius: 1em;
}

.display {
  transform: translateX(0px);
  opacity: 1;
  transition: all 0.3s ease;
  height: 27px;
}

.optionInvisible {
  transform: translateX(-20px);
  opacity: 0;
  height: 0px;
}

@media(max-width:v.$md) {
  .displaycollectionTitle {
    font-size: 2.1em;
  }

  .displayCollectionWrapper {
    justify-content: center;
  }
}
